
*{
    margin: 0;
    padding: 0;
    box-sizing:0;
   font-family: 'Spicy Potatos', sans-serif;
    font-size: 25px;
}

img {
            width: 100%;
            height: auto;
}

/* barra de navegacion */

.header{
    background-color: #8EBCB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav-links li{
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.header .nav-links li:hover{
    transform:scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.header .nav-links li a:hover{
    color: #E1D08B;
}

.header .btns-container {
    display: flex;
    align-items: center;
}

.header .btn_Login button,
.header .btn_check_in button {
    font-weight: 700;
    color: #000000;
    padding: 9px 10px;
    background: #FFCC00;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}

.header .btn_Login button:hover,
.header .btn_check_in button:hover {
    background-color: #D6AB00;
    color: #000000;
    transform: scale(1.1);
}

/*Formulario de Nueva Palabra*/

 .card_word_new {
    background-color: #8EBCB8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 480px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 500px;
  }

 .form {
    display: flex;
    flex-direction: column;
  }

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.button {
    font-weight: 700;
    color: #000000;
    padding: 9px 10px;
    background: #5CE1E6;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
  }

.button:hover {
    background-color: #369EA2;
    color: #E1D08B;
    transform: scale(1.1);
  }

/*Login*/

.card_login {
    background-color: #8EBCB8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    max-height: 480px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 500px;
  }

.form {
    display: flex;
    flex-direction: column;
  }

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.bx{
    margin-left: 380px;
    font-size: 30px;
    transform: translateX(-35px);
    cursor: pointer;
}


.button {
    font-weight: 700;
    color: #000000;
    padding: 9px 10px;
    background: #5CE1E6;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
  }

.button:hover {
    background-color: #369EA2;
    color: #E1D08B;
    transform: scale(1.1);
  }


/*Formulario de Nuevo Usuario*/

.card_user_new {
    background-color: #8EBCB8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 500px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 500px;
  }

 .form {
    display: flex;
    flex-direction: column;
  }

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.button {
    font-weight: 700;
    color: #000000;
    padding: 9px 10px;
    background: #5CE1E6;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 30px;
    transition: all 0.3s ease 0s;
  }

.button:hover {
    background-color: #369EA2;
    color: #E1D08B;
    transform: scale(1.1);
  }


/*Listado Palabra*/

.card_words {
    display: inline-block;
    background-color: #FFCC00;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    margin: 30px;
    padding: 10px;
}

/*Ver una Palabra*/

.card_word {
    display: inline-block;
    background-color: #FFCC00;
    border-radius: 10px;
    width:1000px;
    height: 400px;
    margin: 30px;
    padding: 10px;
}
