{% extends "layout.html" %}
{% block contenido %}

 <form class="form-word" method="POST" action="/new_meaning/{{id}}">
       <h2>New Meaning</h2>

       <div class="input-group">

           <div class="input-container">
               <input type="text" name="meaning" placeholder="Meaning">
               <i class="fa-solid fa-a"></i>
           </div>

           <div class="input-container">
               <input type="text" name="spanish_meaning" placeholder="Spanish Meaning">
               <i class="fa-solid fa-a"></i>
           </div>

       </div>
          <button class="button" type="submit">Save Meaning</button>
   </form>
   <br>


{% endblock %}