{% extends "layout.html" %}
{% block contenido %}

{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}

  {% for word in words %}

    <div class="card_words">
            <div class="contenido_words">
                <h3>{{word[1]}}</h3>
                <p>{{word[2]}}</p>
                <div class="centered-buttons">
                    <button class="button-words-view" ><a href="/show_word_confirm/{{word.0}}">View</a></button>
                    {% if 'logueado' in session %}
                        {% if session['id_rol'] == 2 %}
                        <button class="button-words-delete" ><a href="/delete_word/{{word.0}}">Delete</a></button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
  {% endfor %}

{% endblock %}