{% extends "layout.html" %}

{% block contenido %}
{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}

  <form class="form-word" method="POST" action="/save_word">
       <h2>New Word</h2>

       <div class="input-group">

           <div class="input-container">
               <input type="text" name="word" placeholder="Word">
               <i class="fa-solid fa-a"></i>
           </div>

           <div class="input-container">
               <input type="text" name="spanish" placeholder="Word Spanish">
               <i class="fa-solid fa-a"></i>
           </div>

           <div class="input-container">
               <input type="text" name="meaning" placeholder="Meaning">
               <i class="fa-solid fa-a"></i>
           </div>

           <div class="input-container">
               <input type="text" name="spanish_meaning" placeholder="Spanish Meaning">
               <i class="fa-solid fa-a"></i>
           </div>

       </div>
          <button class="button" type="submit">Save Word</button>
   </form>
   <br>


{% endblock %}