{% extends "layout.html" %}

{% block contenido %}
{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}

<body>

   <form class="form-user" method="POST" action="/check_in">
       <h2>New User</h2>

       <div class="input-group">

           <div class="input-container">
               <input type="text" name="firstname" placeholder="Name">
               <i class="fa-solid fa-user"></i>
           </div>

           <div class="input-container">
               <input type="email" name="email" placeholder="Email">
               <i class="fa-solid fa-envelope"></i>
           </div>

           <div class="input-container">
               <input type="password" name="password" placeholder="Password">
               <i class="fa-solid fa-lock"></i>
           </div>

           <div class="input-container">
               <select class="select_rol" name="teacher_or_student">
                    <option class="option" value="2">student</option>
                    <option class="option" value="1">teacher</option>
                </select>

           </div>

           <a href="/login">I already have an account</a>


           
       </div>
        <button class="button-user" type="submit">Register</button>
   </form>
   <br>

</body>



{% endblock %}