{% extends "layout.html" %}

{% block contenido %}
{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}

    <div class="card_word_new">
      <h2>New word!</h2>
      <form class="form" method="POST" action="/save_word">
        <input class="form-input" type="text" placeholder="Word" name="word" id="word">
        <input class="form-input" type="text" placeholder="Word Spanish" name="spanish" id="spanish">
        <input class="form-input" type="text" placeholder="Meaning" name="meaning" id="meaning">
        <input class="form-input" type="text" placeholder="Spanish Meaning" name="spanish_meaning" id="spanish_meaning">
        <button class="form-button" type="submit">Save Word</button>
      </form>
    </div>

{% endblock %}