
{% extends "layout.html" %}

{% block contenido %}
{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}

<body>


<div class="card_user_new">
      <h2>New User!</h2>
      <form class="form" method="POST" action="/new_user/create">
        <input class="form-input" type="text" placeholder="Name" name="firstname" id="firstname">
        <input class="form-input" type="text" placeholder="Enter email" name="email" id="email">
        <input class="form-input" type="password" placeholder="Password" name="password" id="password">
        <label for="teacher or student">Choose a Roll:</label>
        <select class="form-select" name="teacher_or_student" id="teacher or student" style="margin-top: 5px">
            <option value="1">student</option>
            <option value="2">teacher</option>
        </select>
        <button class="button" type="submit">Check In</button>
      </form>
    </div>
</body>



{% endblock %}