
{% extends "layout.html" %}

{% block contenido %}


<body>


<div class="card_user_new">
      <h2>New User!</h2>
      <form class="form" method="POST" action="/new_user/create">
        <input class="form-input" type="text" placeholder="Name" name="firstname" id="firstname">
        <input class="form-input" type="text" placeholder="Enter email" name="email" id="email">
        <input class="form-input" type="text" placeholder="Password" name="password" id="password">
          <label for="teacher or student">Choose a Roll:</label>
                    <select name="teacher_or_student" id="teacher or student" style="margin-top: 5px">
                        <option value="STUDENT">student</option>
                        <option value="TEACHER">teacher</option>
                    </select>
        <button class="form-button" type="submit">Check In</button>
      </form>
    </div>
</body>



{% endblock %}