{% extends "layout.html" %}

{% block contenido %}
{% with messages= get_flashed_messages() %}
{%if messages%}
 {%for message in messages%}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {%endfor%}
{%endif%}
{%endwith%}
<body>
      <h1 class="title_show">{{word[1]}}</h1>
      <h3 class="title_show">{{word[2]}}</h3>

      {% if 'logueado' in session %}
            {% if session['id_rol'] == 2 %}

            {% endif %}
      {% endif %}

      <table class="table_show_word" border>
            <thead>
                  <tr>
                        <th>Meanings</th>
                        <th>Meanings in Spanish</th>
                        {% if 'logueado' in session %}
                              {% if session['id_rol'] == 2 %}
                                    <th>Operations</th>
                              {% endif %}
                        {% endif %}

                  </tr>
            </thead>
            <tbody>
                  {% for meaning in meanings %}
                  <tr>
                        <td>{{meaning[1]}}</td>
                        <td>{{meaning[3]}}</td>
                        <td>
                              {% if session['id_rol'] == 2 %}
                                    <div class="horizontal-buttons">
                                          <a href="/up_meaning/{{meaning.0}}/{{word.0}}" class="btn_update_meaning"><button>Update Meaning</button></a>
                                          <a href="/delete_meaning/{{meaning.0}}/{{word.0}}" class="btn_delete_meaning"><button>Delete Meaning</button></a>
                                    </div>
                              {% endif %}
                              <br>
                        </td>
                  </tr>
                  {% endfor %}
            </tbody>
      </table>

      {% if 'logueado' in session %}
            {% if session['id_rol'] == 2 %}
                  <div class="centered-buttons">
                        <a href="/up_word/{{word.0}}" class="btn_update_word"><button>Update Word</button></a>
                        <a href="/add_meaning/{{word.0}}" class="btn_add_meaning"><button>Add Meaning</button></a>
                  </div>
            {% elif session['id_rol'] == 1 %}
                  <a href="/confirm" class="btn_confirm_word"><button>Confirmed Word</button></a>
            {% endif %}
      {% endif %}
</body>


{% endblock %}